
<aside>
  <div class="side-image p-2">
    <div class="border border-secondary">
      <img id="profile-image" style="width: 100%;" src="~/@Model.UserImage" alt="@Model.FirstName @Model.LastName">
      <label for="profile-image" class="bg-secondary text-white font-weight-bold" style="display: block; text-align: center; width: 100%; padding: 3px; margin-bottom: 0;">@Model.FirstName.ToUpper() @Model.LastName.ToUpper()</label>
    </div>
    <div class="mt-2 sidenav p-2">
      <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">DASHBOARD</a>
      <a class="nav-link" asp-controller="Admin" asp-action="EditUser" asp-route-id="@Model.UserId">EDIT USER</a>
      <a class="nav-link" asp-controller="Admin" asp-action="NewProject">NEW PROJECT</a>
      <a class="nav-link" asp-controller="Admin" asp-action="NewTechnology">NEW TECNOLOGY</a>
      <a class="nav-link" asp-controller="Admin" asp-action="SiteStats">SITE STATS</a>
      <a class="nav-link" asp-controller="Admin" asp-action="Logout">LOG OUT</a>
      <a class="nav-link" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Model.UserId">DELETE USER</a>
    </div>
  </div>
</aside>
